{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "es6": true
    },
    "plugins": [
        "import"
    ],
    "rules": {
        "object-curly-spacing": [2, "never"],
        "global-require": 0,
        "no-console": 0,
        "prefer-arrow-callback": 0
    }
}